body{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

/* for left sight */
.left{
    flex : 4;
    position: relative;
}
.firstDivOfLeft{
    width: 400px;
    height: 90%;
    background-size: cover;
    margin-top: 20px;
    background-image: url(photo/bg-main-desktop.png);
}
.secondDivOfLeft{
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    
}
.firstDivOfLeft img{
    width: 100%;
    height: 100%;
    
}
.name{
    letter-spacing: 2px;
}
.front-of-card{
    background-image: url(photo/bg-card-front.png);
    width: 340px;
    height: 180px;
    transition: all 1.3s ease;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}
.start-div{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    

}
.circle{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: white
}
.circle1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    transition: all 5s ease-in;
    
}
.middle-div{
    width: 90%;
    height: 70px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    
}
.card-number{
    font-size: 20px;
    word-spacing: 8px;
    letter-spacing: 3px;
    color: white;
    opacity: 0.5;
    transition: opacity 1.5s ease;
}

.end-div{
    
    width: 90%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.date span{
    letter-spacing: 2px;
    
}


.back-of-card{
    background-image: url(photo/bg-card-back.png);
    background-size: cover;
    background-position: center;
    width: 340px;
    height: 180px;
    box-shadow: 3px 0px 10px  rgba(177, 172, 172, 0.5);
    position: absolute;
    top: 50%;
    left: 30%;
    border-radius: 10px;
    transition: all 1.3s ease;
}
.back-number{
    width: 80px;
    height: 30px;
    letter-spacing: 3px;
    color: white;
    position: absolute;
    top: 42%;
    display: flex;
    justify-content: end;
    align-items: center;
    left: 65%;
}



/* For Right Sight */
.right{
    flex : 3;
    display: flex;
    align-items: center;
    
}
.right-container{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right form{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstDivOfRight,.firstDivOfRight1{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-between;
}
.thirdDivOfRight{
    width: 80%;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.abc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border-radius: 10px;
    
    margin-top: 10px;
}
.b{
    margin-right: 60px;
    width: 50px;
    height: 30px;
    border-radius: 4px;
    border: 0.5px solid rgba(177, 172, 172, 0.5);
    box-shadow: 0px 0px 5px rgba(138, 134, 134, 0.5);
    padding-left: 10px;
}
.abc :nth-child(1){
    width: 50px;
    height: 30px;
    border-radius: 4px;
    border: 0.5px solid rgba(177, 172, 172, 0.5);
    box-shadow: 0px 0px 5px rgba(138, 134, 134, 0.5);
    padding-left: 10px;
    
}

.abc :nth-child(3){
    width: 80px;
    height: 90%;
    border-radius: 4px;
    border: 0.5px solid rgba(177, 172, 172, 0.5);
    box-shadow: 0px 0px 5px rgba(138, 134, 134, 0.5);
    padding-left: 10px;
    margin-right: 20px;
}
label{
    font-size: 13px;
    letter-spacing: 3px;
    word-spacing: 4px;
}
label > span{
    margin-left: 30px;
}
.firstDivOfRight input{
    width: 90%;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: 0.5px solid rgba(177, 172, 172, 0.5);
    box-shadow: 0px 0px 5px rgba(138, 134, 134, 0.5);
    margin-top: 10px;
}
.firstErrorText,.secondErrorText{
    margin-top: 5px;
    font-size: 13px;
    color: red;
    font-family: 'Roboto', sans-serif;
}
.thirdErrorText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(241, 76, 76);
    font-family: 'Roboto', sans-serif;
}
.thirdErrorText :nth-child(2){
    margin-right: 20px;
}
button{
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background:hsl(278, 68%, 11%);
    border: none;
    color: white;
    position: absolute;
    z-index: 1;
}
button:active{
    background: linear-gradient(hsla(271, 88%, 46%,0.7),hsl(246, 69%, 53%));
    box-shadow: 0px 4px 12px rgb(110, 105, 105);
}

/* responsive */
@media (max-width : 1440px){
    .container{
        width: 90%;
    }
}
@media (max-width : 1024px){
    
    .container{
        width: 100%;
        overflow-x: hidden;
    }
    .right-container{
        margin-left: 50px;
    }
    
    .firstDivOfLeft{
        margin-left: 30px;
    }
    .secondDivOfLeft{
        width: 70%;
    }
    .front-of-card{
        top : 20%;
        left: 30%;
    }
    .back-of-card{
        top: 50%;
        left: 20%;
    }
}

/* for mobile */
@media (max-width: 560px){
    .container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .main ::-webkit-scrollbar{
        display: none;
    }
    .right{
        
        display: flex;
        flex-direction: column;
       
    }
    .secondDivOfLeft{
        width: 100%;
        height: 140%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .right-container{
        margin-top: 100px;
        margin-left: 0px;
        padding: 30px;
    }
    .firstDivOfLeft{
        width: 100vw;
        margin: 0;
        background-image: url(photo/bg-main-mobile.png);
        background-size: cover;
    }
    .hh{
        width: 50px;

    }
    .front-of-card{
        z-index: 2;
        top: calc(100% - 60%);
        left: 10%;
    }
    .back-of-card{
        top: calc(80% - 70%);
        left: 30px;
    }
}
form span{
    text-align: start;
}

@media (max-width : 375px){
    .container{
        width: 100%;
        height: 100vh;
    }
    .firstDivOfLeft{
        
    }
    .secondDivOfLeft{
        
        height: 100%;
        top: 0px;
        margin-right: 20px;
    }
    .front-of-card{
        top: 50%;
        left: 5px;
    }
    .back-of-card{
        top: 10px;
        left: 40px;
    }
    .right-container{
        margin-bottom: -50px;
       margin-left: 20px;
    }
} 
